<div class="recover-page">

  <header class="recover-topbar">
    <div class="brand-small">
      <div class="brand-icon">IP</div>
      <div>
        <h1>Plataforma</h1>
        <h2>Predictiva IPRESS</h2>
      </div>
    </div>

    <div class="ipress-box">
      <span>IPRESS asignada:</span>
      <strong>Hospital Nacional Sergio E. Bernales</strong>
    </div>
  </header>

  <div class="recover-background"></div>

  <div class="recover-card">

    <div class="recover-icon">
      🔐
    </div>

    <h2>Recuperar contraseña</h2>

    <p class="subtitle">
      Ingresa tu correo institucional para recibir un enlace de recuperación.
    </p>

    <div class="form-group">
      <label>Correo institucional</label>
      <div class="input-wrapper">
        <span>✉</span>
        <input
          type="email"
          [(ngModel)]="correo"
          placeholder="ejemplo@hospital.gob.pe">
      </div>
    </div>

    <div *ngIf="error" class="error-message">
      {{ error }}
    </div>

    <div *ngIf="mensaje" class="success-message">
      {{ mensaje }}
    </div>

    <button class="btn-send" (click)="enviarEnlace()">
      ✉ Enviar enlace de recuperación
    </button>

    <div class="separator">
      <span>o</span>
    </div>

    <a routerLink="/login" class="btn-back">
      ← Volver al inicio de sesión
    </a>

    <div class="info-box">
      <div class="info-icon">i</div>
      <p>
        Se enviará un enlace de recuperación al correo institucional registrado.
      </p>
    </div>

  </div>

</div>