<ng-container *ngIf="esRutaAuth(); else layoutPrincipal">
  <router-outlet></router-outlet>
</ng-container>

<ng-template #layoutPrincipal>

  <div class="app-layout">

    <aside class="sidebar">

      <div class="sidebar-header">
        <div class="logo-icon">
          <span>IP</span>
        </div>

        <div>
          <h5>Plataforma</h5>
          <strong>Predictiva IPRESS</strong>
        </div>
      </div>

      <nav class="sidebar-menu">

        <a
          *ngIf="esAdmin()"
          routerLink="/inicio"
          routerLinkActive="active"
          class="menu-item">
          <span class="menu-icon">⌂</span>
          Inicio
        </a>

        <a *ngIf="esHospitalizacion()" routerLink="/dashboard" routerLinkActive="active" class="menu-item">
          <span class="menu-icon">◔</span>
          Dashboard predictivo
        </a>

        <a *ngIf="esAdmision()" routerLink="/carga-excel" routerLinkActive="active" class="menu-item">
          <span class="menu-icon">▣</span>
          Datos
        </a>

        <a *ngIf="esAdmision()" routerLink="/archivos" routerLinkActive="active" class="menu-item">
          <span class="menu-icon">▤</span>
          Historial
        </a>

        <a *ngIf="esHospitalizacion()" routerLink="/alertas" routerLinkActive="active" class="menu-item">
          <span class="menu-icon">⚠</span>
          Alertas
        </a>

        <a *ngIf="esHospitalizacion()" routerLink="/reportes" routerLinkActive="active" class="menu-item">
          <span class="menu-icon">▦</span>
          Reportes
        </a>

        <a *ngIf="esAdmin()" routerLink="/usuarios" routerLinkActive="active" class="menu-item">
          <span class="menu-icon">👥</span>
          Usuarios
        </a>
        <a
          routerLink="/configuracion"
          routerLinkActive="active"
          class="menu-item">
          <span class="menu-icon">⚙</span>
          Configuración
        </a>

      </nav>

    </aside>

    <section class="main-content">

      <header class="topbar">

        <div class="brand-ipress">
          <div class="hospital-icon">▥</div>
          <div>
            <span>IPRESS asignada:</span>
            <strong>{{ obtenerAlcanceUsuario() }}</strong>
          </div>
        </div>

        <div class="user-card">
          <div class="user-avatar">
            {{ obtenerUsuario()?.nombre?.charAt(0) || 'U' }}
          </div>

          <div>
            <strong>{{ obtenerUsuario()?.nombre || 'Usuario' }}</strong>
            <span>{{ obtenerUsuario()?.nombreRol || 'Modo desarrollo' }}</span>
          </div>

          <button class="btn-logout" (click)="cerrarSesion()">
            Salir
          </button>
        </div>

      </header>

      <main class="page-container">
        <router-outlet></router-outlet>
      </main>

    </section>

  </div>

</ng-template>
